In [1]:
import pandas as pd

In [2]:
migration2017 = pd.read_excel('Excels/State_to_State_Migrations_Table_2017_clean.xls')
migration2018 = pd.read_excel('Excels/State_to_State_Migrations_Table_2018_clean.xls')
migration2019 = pd.read_excel('Excels/State_to_State_Migrations_Table_2019_clean.xls')

In [3]:
migration2017.head()

,Current residence in,Population 1 year and over,Same house 1 year ago,Same state of residence 1 year ago,Total,Alabama,Alaska,Arizona,Arkansas,California,...,Vermont,Virginia,Washington,West Virginia,Wisconsin,Wyoming,Total.1,Puerto Rico,U.S. Island Area,Foreign Country4
0,United States2,321994428,275921008,36468599,7471493,101466.0,42972.0,163214.0,69850.0,661026.0,...,20872.0,262563.0,198813.0,43321.0,113492.0,25954.0,2133328,97488.0,18321,2017519
1,Alabama,4819343,4158224,535649,111803,NaN,424.0,1513.0,517.0,2328.0,...,0.0,4277.0,1289.0,1070.0,1121.0,104.0,13667,476.0,0,13191
2,Alaska,730874,595804,98168,30199,942.0,NaN,1387.0,203.0,3556.0,...,0.0,360.0,3653.0,0.0,2500.0,6.0,6703,0.0,965,5738
3,Arizona,6935358,5717189,911120,261727,1337.0,2255.0,NaN,1763.0,59233.0,...,96.0,3593.0,14392.0,318.0,3897.0,997.0,45322,438.0,91,44793
4,Arkansas,2968395,2509717,370309,79411,574.0,241.0,1060.0,NaN,5334.0,...,0.0,1087.0,1539.0,0.0,958.0,12.0,8958,573.0,0,8385

In [4]:
migration2018.head()

,Current residence in,Population 1 year and over,Same house 1 year ago,Same state of residence 1 year ago,Total,Alabama,Alaska,Arizona,Arkansas,California,...,Vermont,Virginia,Washington,West Virginia,Wisconsin,Wyoming,Total.1,Puerto Rico,U.S. Island Area,Foreign Country
0,United States2,323531965,278079469,35921585,7571282,98194.0,39246.0,179586.0,69724.0,691145.0,...,20832.0,262345.0,222472.0,46546.0,105789.0,26078.0,1959629,133451.0,24689,1801489
1,Alabama,4832358,4173026,534914,109301,NaN,419.0,1915.0,1051.0,2659.0,...,0.0,5221.0,2125.0,176.0,996.0,74.0,15117,957.0,893,13267
2,Alaska,727164,608707,81229,32099,518.0,NaN,910.0,722.0,3455.0,...,5.0,654.0,2558.0,0.0,340.0,192.0,5129,344.0,267,4518
3,Arizona,7090137,5887700,888452,273714,2801.0,2743.0,NaN,1487.0,68516.0,...,37.0,4956.0,17560.0,29.0,7788.0,929.0,40271,1289.0,1449,37533
4,Arkansas,2975961,2539294,354774,73179,438.0,413.0,602.0,NaN,3728.0,...,0.0,900.0,1328.0,72.0,130.0,0.0,8714,1693.0,0,7021

In [5]:
migration2019.head()

,Current residence in,Population 1 year and over,Same house 1 year ago,Same state of residence 1 year ago,Total,Alabama,Alaska,Arizona,Arkansas,California,...,Vermont,Virginia,Washington,West Virginia,Wisconsin,Wyoming,Total.1,Puerto Rico,U.S. Island Area,Foreign Country
0,United States2,324665523,280343146,35013848,7398337,98704.0,50134.0,173631.0,64524.0,653551.0,...,22714.0,276849.0,199758.0,40460.0,101668.0,23287.0,1910192,66021.0,15276,1828895
1,Alabama,4849509,4197698,534842,104780,NaN,1105.0,904.0,813.0,3690.0,...,0.0,2876.0,1883.0,421.0,1307.0,0.0,12189,338.0,103,11748
2,Alaska,722063,609362,74375,34031,260.0,NaN,886.0,12.0,2547.0,...,44.0,2216.0,1435.0,355.0,228.0,242.0,4295,37.0,17,4241
3,Arizona,7200620,6038776,861935,253295,1750.0,1561.0,NaN,1022.0,59713.0,...,662.0,3837.0,17636.0,237.0,3688.0,664.0,46614,970.0,152,45492
4,Arkansas,2989054,2559444,361762,59723,636.0,98.0,692.0,NaN,4967.0,...,0.0,671.0,571.0,133.0,797.0,1109.0,8125,302.0,0,7823

In [6]:
combined = migration2017.append([migration2018, migration2019], ignore_index = False)
combined

,Current residence in,Population 1 year and over,Same house 1 year ago,Same state of residence 1 year ago,Total,Alabama,Alaska,Arizona,Arkansas,California,...,Virginia,Washington,West Virginia,Wisconsin,Wyoming,Total.1,Puerto Rico,U.S. Island Area,Foreign Country4,Foreign Country
0,United States2,321994428,275921008,36468599,7471493,101466.0,42972.0,163214.0,69850.0,661026.0,...,262563.0,198813.0,43321.0,113492.0,25954.0,2133328,97488.0,18321,2017519.0,NaN
1,Alabama,4819343,4158224,535649,111803,NaN,424.0,1513.0,517.0,2328.0,...,4277.0,1289.0,1070.0,1121.0,104.0,13667,476.0,0,13191.0,NaN
2,Alaska,730874,595804,98168,30199,942.0,NaN,1387.0,203.0,3556.0,...,360.0,3653.0,0.0,2500.0,6.0,6703,0.0,965,5738.0,NaN
3,Arizona,6935358,5717189,911120,261727,1337.0,2255.0,NaN,1763.0,59233.0,...,3593.0,14392.0,318.0,3897.0,997.0,45322,438.0,91,44793.0,NaN
4,Arkansas,2968395,2509717,370309,79411,574.0,241.0,1060.0,NaN,5334.0,...,1087.0,1539.0,0.0,958.0,12.0,8958,573.0,0,8385.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48,Washington,7527366,6253469,977928,231956,1060.0,4255.0,8263.0,83.0,46791.0,...,6656.0,NaN,275.0,1456.0,626.0,64013,318.0,1465,NaN,62230.0
49,West Virginia,1773280,1563611,164739,39548,245.0,192.0,356.0,120.0,940.0,...,6008.0,129.0,NaN,41.0,0.0,5382,606.0,0,NaN,4776.0
50,Wisconsin,5760481,5001140,634732,107973,678.0,1070.0,1917.0,290.0,6886.0,...,1878.0,1682.0,572.0,NaN,1417.0,16636,513.0,0,NaN,16123.0
51,Wyoming,572884,473128,68127,30247,1227.0,54.0,757.0,298.0,3211.0,...,415.0,885.0,308.0,27.0,NaN,1382,0.0,0,NaN,1382.0
52,Puerto Rico,3175835,2968876,169733,31144,141.0,0.0,110.0,149.0,826.0,...,1348.0,507.0,0.0,581.0,0.0,6082,NaN,342,NaN,5740.0

In [7]:
combined = combined.fillna(0)

In [8]:
combined.to_excel("combined_data.xls", index= False, header= True)