In [7]:
import pandas as pd
from sqlalchemy import create_engine
from sql_keys import username, password

In [8]:
migration2010 = pd.read_excel('cleaned excels/state_to_state_migrations_table_2010_cleaned2.xls')
migration2011 = pd.read_excel('cleaned excels/state_to_state_migrations_table_2011_cleaned2.xls')
migration2012 = pd.read_excel('cleaned excels/state_to_state_migrations_table_2012_cleaned2.xls')
migration2013 = pd.read_excel('cleaned excels/State_to_State_Migrations_Table_2013_clean2.xls')
migration2014 = pd.read_excel('cleaned excels/State_to_State_Migrations_Table_2014_clean2.xls')
migration2015 = pd.read_excel('cleaned excels/State_to_State_Migrations_Table_2015_clean2.xls')
migration2016 = pd.read_excel('cleaned excels/State_to_State_Migrations_Table_2016_clean2.xls')
migration2017 = pd.read_excel('cleaned excels/State_to_State_Migrations_Table_2017_clean2.xls')
migration2018 = pd.read_excel('cleaned excels/State_to_State_Migrations_Table_2018_clean2.xls')
migration2019 = pd.read_excel('cleaned excels/State_to_State_Migrations_Table_2019_clean2.xls')

In [9]:
migration2019.head()

,Current residence in,Population 1 year and over,Same house 1 year ago,Same state of residence 1 year ago,Total_Incoming,Total_Outgoing,Net Migration,Avg. Home Price,Median Income,Unemployment Rate,...,Utah,Vermont,Virginia,Washington,West Virginia,Wisconsin,Wyoming,Puerto Rico,U.S. Island Area,Foreign Country
0,Alabama,4849509,4197698,534842,104780,98704,6076,150573.1818,51734,3.0,...,2083.0,0.0,2876.0,1883.0,421.0,1307.0,0.0,338,103,11748
1,Alaska,722063,609362,74375,34031,50134,-16103,292670.7273,75463,6.1,...,1092.0,44.0,2216.0,1435.0,355.0,228.0,242.0,37,17,4241
2,Arizona,7200620,6038776,861935,253295,173631,79664,284534.2727,62055,4.7,...,8917.0,662.0,3837.0,17636.0,237.0,3688.0,664.0,970,152,45492
3,Arkansas,2989054,2559444,361762,59723,64524,-4801,137060.9091,48952,3.5,...,710.0,0.0,671.0,571.0,133.0,797.0,1109.0,302,0,7823
4,California,39084048,34394220,3943139,480204,653551,-173347,582579.0909,80440,4.0,...,8504.0,784.0,24506.0,31882.0,303.0,4811.0,1159.0,1780,2887,261818

In [10]:
combinedyears = migration2010.append([migration2011, migration2012,migration2013, migration2014,migration2015, migration2016,migration2017, migration2018,migration2019], ignore_index = False)
combinedyears

,Current residence in,Population 1 year and over,Same house 1 year ago,Same state of residence 1 year ago,Total_Incoming,Total_Outgoing,Net Migration,Avg. Home Price,Median Income,Unemployment Rate,...,Utah,Vermont,Virginia,Washington,West Virginia,Wisconsin,Wyoming,Puerto Rico,U.S. Island Area,Foreign Country
0,Alabama,4729509,3987155,620465,108723,99850,8873,123268.6667,40933,10.5,...,1336.0,0.0,2490.0,1171.0,41.0,1155.0,27.0,228,181,12757
1,Alaska,702974,565031,95878,36326,94848,-58522,259908.9167,57848,7.9,...,1274.0,353.0,714.0,2421.0,0.0,158.0,81.0,19,1374,4346
2,Arizona,6332786,5069002,1001991,222725,177056,45669,157288.3333,46896,10.4,...,7164.0,664.0,3413.0,12645.0,595.0,5556.0,593.0,599,223,38246
3,Arkansas,2888304,2387806,412997,79127,64264,14863,107754.4167,38587,8.2,...,361.0,0.0,494.0,264.0,0.0,821.0,443.0,87,0,8287
4,California,36907897,30790221,5413287,444749,575165,-130416,331464.0000,54283,12.2,...,10653.0,525.0,14232.0,30544.0,1446.0,6031.0,1336.0,1223,5123,253294
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
46,Virginia,8439982,7201805,903735,264855,276849,-11994,292564.7273,76456,2.8,...,1736.0,1633.0,NaN,6580.0,5518.0,1518.0,167.0,1896,185,67506
47,Washington,7527366,6253469,977928,231956,199758,32198,433595.2727,78687,4.3,...,5440.0,391.0,6656.0,NaN,275.0,1456.0,626.0,318,1465,62230
48,West Virginia,1773280,1563611,164739,39548,40460,-912,108039.9091,48850,4.9,...,0.0,19.0,6008.0,129.0,NaN,41.0,0.0,606,0,4776
49,Wisconsin,5760481,5001140,634732,107973,101668,6305,198568.8182,64168,3.3,...,808.0,0.0,1878.0,1682.0,572.0,NaN,1417.0,513,0,16123
50,Wyoming,572884,473128,68127,30247,23287,6960,254174.5455,65003,3.6,...,1746.0,0.0,415.0,885.0,308.0,27.0,NaN,0,0,1382

In [11]:
combinedyears = combinedyears.fillna(0)

In [12]:
combinedyears.to_excel("2010-2019combineddata.xls", index= False, header= True)