In [49]:
from sklearn import tree
import pandas as pd
import os

In [50]:
df_alldata = pd.read_excel('2010-2019combineddata.xls')

df_alldata.head()

,Year,Before Tax Change,Current residence in,Total Population,Same house 1 year ago,Same state of residence 1 year ago,Total_Incoming,Total_Outgoing,Net Migration,Net Migation(p/n),...,Utah,Vermont,Virginia,Washington,West Virginia,Wisconsin,Wyoming,Puerto Rico,U.S. Island Area,Foreign Country
0,2010,no,Alabama,4729509,3987155,620465,108723,99850,8873,positive,...,1336,0,2490,1171,41,1155,27,228,181,12757
1,2010,no,Alaska,702974,565031,95878,36326,94848,-58522,negative,...,1274,353,714,2421,0,158,81,19,1374,4346
2,2010,no,Arizona,6332786,5069002,1001991,222725,177056,45669,positive,...,7164,664,3413,12645,595,5556,593,599,223,38246
3,2010,no,Arkansas,2888304,2387806,412997,79127,64264,14863,positive,...,361,0,494,264,0,821,443,87,0,8287
4,2010,no,California,36907897,30790221,5413287,444749,575165,-130416,negative,...,10653,525,14232,30544,1446,6031,1336,1223,5123,253294

In [51]:
dummy = ["Year", "Before Tax Change", "Current residence in"]

combined_data = pd.get_dummies(df_alldata, columns= dummy)
combined_data.head()

,Total Population,Same house 1 year ago,Same state of residence 1 year ago,Total_Incoming,Total_Outgoing,Net Migration,Net Migation(p/n),Avg. Home Price,Median Income,Unemployment Rate,...,Current residence in_South Dakota,Current residence in_Tennessee,Current residence in_Texas,Current residence in_Utah,Current residence in_Vermont,Current residence in_Virginia,Current residence in_Washington,Current residence in_West Virginia,Current residence in_Wisconsin,Current residence in_Wyoming
0,4729509,3987155,620465,108723,99850,8873,positive,123268.6667,40933,10.5,...,0,0,0,0,0,0,0,0,0,0
1,702974,565031,95878,36326,94848,-58522,negative,259908.9167,57848,7.9,...,0,0,0,0,0,0,0,0,0,0
2,6332786,5069002,1001991,222725,177056,45669,positive,157288.3333,46896,10.4,...,0,0,0,0,0,0,0,0,0,0
3,2888304,2387806,412997,79127,64264,14863,positive,107754.4167,38587,8.2,...,0,0,0,0,0,0,0,0,0,0
4,36907897,30790221,5413287,444749,575165,-130416,negative,331464.0000,54283,12.2,...,0,0,0,0,0,0,0,0,0,0

In [52]:
target = combined_data["Net Migation(p/n)"]

In [54]:
data = combined_data.drop(["Net Migation(p/n)","Net Migration", "Unemployment Rate", "Alabama", "Alaska","Arizona","Arkansas","California","Colorado","Connecticut","Delaware","District of Columbia ",
               "Florida","Georgia","Hawaii","Idaho","Illinois","Indiana","Iowa","Kansas","Kentucky","Louisiana","Maine","Maryland","Massachusetts",
               "Michigan","Minnesota","Mississippi","Missouri","Montana","Nebraska","Nevada","New Hampshire","New Jersey","New Mexico",
               "New York","North Carolina","North Dakota","Ohio","Oklahoma","Oregon","Pennsylvania","Rhode Island", "South Carolina",
               "South Dakota","Tennessee","Texas","Utah","Vermont","Virginia","Washington","West Virginia","Wisconsin","Wyoming","Puerto Rico","U.S. Island Area", "Same house 1 year ago","Same state of residence 1 year ago"
               , "Total_Incoming", "Total_Outgoing", "Foreign Country", 'Net Migation(p/n)'], axis=1)
feature_names = data.columns
data.head()

,Total Population,Avg. Home Price,Median Income,Year_2010,Year_2011,Year_2012,Year_2013,Year_2014,Year_2015,Year_2016,...,Current residence in_South Dakota,Current residence in_Tennessee,Current residence in_Texas,Current residence in_Utah,Current residence in_Vermont,Current residence in_Virginia,Current residence in_Washington,Current residence in_West Virginia,Current residence in_Wisconsin,Current residence in_Wyoming
0,4729509,123268.6667,40933,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,702974,259908.9167,57848,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,6332786,157288.3333,46896,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,2888304,107754.4167,38587,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,36907897,331464.0000,54283,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [55]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(data,target, random_state=42)

In [56]:
clf = tree.DecisionTreeClassifier()

In [57]:
data.dtypes

Total Population                        int64
Avg. Home Price                       float64
Median Income                           int64
Year_2010                               uint8
Year_2011                               uint8
                                       ...
Current residence in_Virginia           uint8
Current residence in_Washington         uint8
Current residence in_West Virginia      uint8
Current residence in_Wisconsin          uint8
Current residence in_Wyoming            uint8
Length: 65, dtype: object

In [58]:
clf = clf.fit(X_train, y_train)
clf.score(X_test, y_test)

0.703125

In [59]:
from sklearn.ensemble import RandomForestClassifier
rf = RandomForestClassifier(n_estimators=200)
rf = rf.fit(X_train, y_train)
rf.score(X_test, y_test)

0.7421875

In [60]:
sorted(zip(rf.feature_importances_, feature_names), reverse=True)

[(0.14489163347639647, 'Median Income'),
 (0.1428383342804012, 'Avg. Home Price'),
 (0.13911237785812686, 'Total Population'),
 (0.07486632016091946, 'Year_2014'),
 (0.06575451015407006, 'Year_2019'),
 (0.016286147654239976, 'Current residence in_Louisiana'),
 (0.015607167717832809, 'Current residence in_Colorado'),
 (0.013816115227009656, 'Current residence in_Illinois'),
 (0.013675902593289352, 'Current residence in_New Mexico'),
 (0.01249731576502937, 'Year_2010'),
 (0.012259598145982289, 'Current residence in_Oregon'),
 (0.011938412867341118, 'Current residence in_Minnesota'),
 (0.011477953385735111, 'Year_2013'),
 (0.010841476078934957, 'Year_2017'),
 (0.010603688300717772, 'Current residence in_Utah'),
 (0.010533753643975194, 'Current residence in_Washington'),
 (0.010317551254054784, 'Current residence in_Connecticut'),
 (0.009999630080345712, 'Current residence in_Michigan'),
 (0.009621962354365996, 'Year_2015'),
 (0.009536602538020899, 'Year_2012'),
 (0.009113707955083305, 'Year_2016'),
 (0.00877687829915757, 'Current residence in_Wyoming'),
 (0.008569251750329849, 'Current residence in_Ohio'),
 (0.008529766992717552, 'Year_2011'),
 (0.00811000408365477, 'Current residence in_Georgia'),
 (0.008034687220933456, 'Current residence in_Wisconsin'),
 (0.007697596548352907, 'Current residence in_New York'),
 (0.00748532220647361, 'Year_2018'),
 (0.007447647040673669, 'Current residence in_West Virginia'),
 (0.0074297544778988015, 'Current residence in_Delaware'),
 (0.007178581746526399, 'Current residence in_Kansas'),
 (0.006978868542212974, 'Current residence in_South Carolina'),
 (0.006467496024899889, 'Current residence in_Alabama'),
 (0.006389734803655323, 'Current residence in_Oklahoma'),
 (0.006342310176933223, 'Current residence in_Nebraska'),
 (0.0063150491777916465, 'Current residence in_Nevada'),
 (0.006305090782424863, 'Current residence in_Florida'),
 (0.006224506607510259, 'Current residence in_South Dakota'),
 (0.0060250572406188125, 'Current residence in_Indiana'),
 (0.00601273433374446, 'Current residence in_Rhode Island'),
 (0.005974162378810653, 'Current residence in_Texas'),
 (0.00573702367587571, 'Current residence in_Alaska'),
 (0.005408597308636164, 'Current residence in_District of Columbia '),
 (0.005196763223341459, 'Current residence in_Pennsylvania'),
 (0.005188497051624752, 'Current residence in_Hawaii'),
 (0.005092888251413373, 'Current residence in_Arizona'),
 (0.005091436700207516, 'Current residence in_North Carolina'),
 (0.005035523262585978, 'Current residence in_Kentucky'),
 (0.004797625265358221, 'Current residence in_Arkansas'),
 (0.00469490822073295, 'Current residence in_New Jersey'),
 (0.004684880229954376, 'Current residence in_California'),
 (0.004470740602930489, 'Current residence in_Mississippi'),
 (0.004456884115985924, 'Current residence in_Massachusetts'),
 (0.004377229992859301, 'Current residence in_Maryland'),
 (0.004215896519585764, 'Current residence in_New Hampshire'),
 (0.004089032790652394, 'Current residence in_Maine'),
 (0.00402439563364716, 'Current residence in_Missouri'),
 (0.003971370054837253, 'Current residence in_North Dakota'),
 (0.0038875130637205176, 'Current residence in_Iowa'),
 (0.0038237943148700503, 'Current residence in_Idaho'),
 (0.00362738763034653, 'Current residence in_Vermont'),
 (0.003552768247321219, 'Current residence in_Virginia'),
 (0.003402237728133112, 'Current residence in_Tennessee'),
 (0.0032879441881868234, 'Current residence in_Montana'),
 (0.0, 'Before Tax Change_no')]