In [1]:
from sklearn import tree
import pandas as pd
import os

In [2]:
df_alldata = pd.read_excel('2010-2019combineddata.xls')

df_alldata.head()

,Year,Before Tax Change,Current residence in,Total Population,Same house 1 year ago,Same state of residence 1 year ago,Total_Incoming,Total_Outgoing,Net Migration,Net Migration(p/n),...,Utah,Vermont,Virginia,Washington,West Virginia,Wisconsin,Wyoming,Puerto Rico,U.S. Island Area,Foreign Country
0,2010,yes,Alabama,4729509,3987155,620465,108723,99850,8873,positive,...,1336,0,2490,1171,41,1155,27,228,181,12757
1,2010,yes,Alaska,702974,565031,95878,36326,94848,-58522,negative,...,1274,353,714,2421,0,158,81,19,1374,4346
2,2010,yes,Arizona,6332786,5069002,1001991,222725,177056,45669,positive,...,7164,664,3413,12645,595,5556,593,599,223,38246
3,2010,yes,Arkansas,2888304,2387806,412997,79127,64264,14863,positive,...,361,0,494,264,0,821,443,87,0,8287
4,2010,yes,California,36907897,30790221,5413287,444749,575165,-130416,negative,...,10653,525,14232,30544,1446,6031,1336,1223,5123,253294

In [3]:
dummy = ["Year", "Before Tax Change", "Current residence in"]

combined_data = pd.get_dummies(df_alldata, columns= dummy)
combined_data.head()

,Total Population,Same house 1 year ago,Same state of residence 1 year ago,Total_Incoming,Total_Outgoing,Net Migration,Net Migration(p/n),Avg. Home Price,Median Income,Unemployment Rate,...,Current residence in_South Dakota,Current residence in_Tennessee,Current residence in_Texas,Current residence in_Utah,Current residence in_Vermont,Current residence in_Virginia,Current residence in_Washington,Current residence in_West Virginia,Current residence in_Wisconsin,Current residence in_Wyoming
0,4729509,3987155,620465,108723,99850,8873,positive,123268.6667,40933,10.5,...,0,0,0,0,0,0,0,0,0,0
1,702974,565031,95878,36326,94848,-58522,negative,259908.9167,57848,7.9,...,0,0,0,0,0,0,0,0,0,0
2,6332786,5069002,1001991,222725,177056,45669,positive,157288.3333,46896,10.4,...,0,0,0,0,0,0,0,0,0,0
3,2888304,2387806,412997,79127,64264,14863,positive,107754.4167,38587,8.2,...,0,0,0,0,0,0,0,0,0,0
4,36907897,30790221,5413287,444749,575165,-130416,negative,331464.0000,54283,12.2,...,0,0,0,0,0,0,0,0,0,0

In [4]:
target = combined_data["Net Migration(p/n)"]

In [5]:
data = combined_data.drop(["Net Migration(p/n)","Net Migration", "Unemployment Rate", "Alabama", "Alaska","Arizona","Arkansas","California","Colorado","Connecticut","Delaware","District of Columbia ",
               "Florida","Georgia","Hawaii","Idaho","Illinois","Indiana","Iowa","Kansas","Kentucky","Louisiana","Maine","Maryland","Massachusetts",
               "Michigan","Minnesota","Mississippi","Missouri","Montana","Nebraska","Nevada","New Hampshire","New Jersey","New Mexico",
               "New York","North Carolina","North Dakota","Ohio","Oklahoma","Oregon","Pennsylvania","Rhode Island", "South Carolina",
               "South Dakota","Tennessee","Texas","Utah","Vermont","Virginia","Washington","West Virginia","Wisconsin","Wyoming","Puerto Rico","U.S. Island Area", "Same house 1 year ago","Same state of residence 1 year ago"
               , "Total_Incoming", "Total_Outgoing", "Foreign Country"], axis=1)
feature_names = data.columns
data.head()

,Total Population,Avg. Home Price,Median Income,Year_2010,Year_2011,Year_2012,Year_2013,Year_2014,Year_2015,Year_2016,...,Current residence in_South Dakota,Current residence in_Tennessee,Current residence in_Texas,Current residence in_Utah,Current residence in_Vermont,Current residence in_Virginia,Current residence in_Washington,Current residence in_West Virginia,Current residence in_Wisconsin,Current residence in_Wyoming
0,4729509,123268.6667,40933,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,702974,259908.9167,57848,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,6332786,157288.3333,46896,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,2888304,107754.4167,38587,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,36907897,331464.0000,54283,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [6]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(data,target, random_state=42)

In [7]:
clf = tree.DecisionTreeClassifier()

In [8]:
data.dtypes

Total Population                        int64
Avg. Home Price                       float64
Median Income                           int64
Year_2010                               uint8
Year_2011                               uint8
                                       ...
Current residence in_Virginia           uint8
Current residence in_Washington         uint8
Current residence in_West Virginia      uint8
Current residence in_Wisconsin          uint8
Current residence in_Wyoming            uint8
Length: 66, dtype: object

In [9]:
clf = clf.fit(X_train, y_train)
clf.score(X_test, y_test)

0.75

In [10]:
from sklearn.ensemble import RandomForestClassifier
rf = RandomForestClassifier(n_estimators=200)
rf = rf.fit(X_train, y_train)
rf.score(X_test, y_test)

0.7421875

In [11]:
sorted(zip(rf.feature_importances_, feature_names), reverse=True)

[(0.15151865395023353, 'Avg. Home Price'),
 (0.13691956245143658, 'Median Income'),
 (0.13662491637905544, 'Total Population'),
 (0.0906926608551942, 'Year_2014'),
 (0.019673677834804608, 'Current residence in_Louisiana'),
 (0.016571697358610624, 'Current residence in_Illinois'),
 (0.014884191993820614, 'Current residence in_New Mexico'),
 (0.014862830659940976, 'Current residence in_Connecticut'),
 (0.014698957598829297, 'Current residence in_Minnesota'),
 (0.01385797703099939, 'Year_2010'),
 (0.013340592972623584, 'Current residence in_Colorado'),
 (0.013068017064812225, 'Current residence in_Oregon'),
 (0.012672139498148792, 'Current residence in_Michigan'),
 (0.011224953945142233, 'Current residence in_Utah'),
 (0.010943185449916413, 'Year_2013'),
 (0.010911745407457856, 'Year_2017'),
 (0.010533639587263572, 'Current residence in_Washington'),
 (0.010072447034822206, 'Current residence in_New York'),
 (0.009942211721971074, 'Year_2019'),
 (0.009738407768553073, 'Year_2012'),
 (0.00971072260333589, 'Year_2015'),
 (0.009306255860962736, 'Year_2016'),
 (0.009293464490351443, 'Current residence in_Wyoming'),
 (0.00901743175395222, 'Current residence in_Georgia'),
 (0.008920687853458523, 'Current residence in_Ohio'),
 (0.008700550622853657, 'Current residence in_Kansas'),
 (0.008464475486343888, 'Current residence in_South Carolina'),
 (0.008199498306866558, 'Before Tax Change_yes'),
 (0.00812302926463044, 'Current residence in_Massachusetts'),
 (0.007837036462987555, 'Current residence in_West Virginia'),
 (0.007763318133864394, 'Current residence in_Delaware'),
 (0.007700169901577213, 'Year_2011'),
 (0.007248194067193827, 'Current residence in_New Jersey'),
 (0.007100788919043444, 'Current residence in_Wisconsin'),
 (0.007002827576058703, 'Current residence in_South Dakota'),
 (0.006995431947509346, 'Before Tax Change_no'),
 (0.006857731365388322, 'Current residence in_Pennsylvania'),
 (0.006663642921020167, 'Current residence in_Alabama'),
 (0.006561989574611369, 'Current residence in_Maryland'),
 (0.006465244672126002, 'Current residence in_Alaska'),
 (0.006076252120463151, 'Current residence in_Florida'),
 (0.006066341235863518, 'Current residence in_Hawaii'),
 (0.005842662425875941, 'Current residence in_Nevada'),
 (0.005788407080050189, 'Current residence in_Oklahoma'),
 (0.005632866322180322, 'Current residence in_Rhode Island'),
 (0.0055296420527071065, 'Current residence in_Arizona'),
 (0.005520799566446741, 'Current residence in_Texas'),
 (0.005032564705833854, 'Current residence in_District of Columbia '),
 (0.00501568899873982, 'Current residence in_Indiana'),
 (0.004998596222697419, 'Year_2018'),
 (0.004479364630967539, 'Current residence in_Nebraska'),
 (0.004473541197426249, 'Current residence in_Iowa'),
 (0.004441261342161427, 'Current residence in_Kentucky'),
 (0.004434889349180023, 'Current residence in_North Dakota'),
 (0.004423036212034496, 'Current residence in_North Carolina'),
 (0.004395750987543972, 'Current residence in_New Hampshire'),
 (0.004238921456780214, 'Current residence in_Idaho'),
 (0.004124611573003433, 'Current residence in_Missouri'),
 (0.004103454758213541, 'Current residence in_Arkansas'),
 (0.004096356804454038, 'Current residence in_California'),
 (0.004008625421353819, 'Current residence in_Maine'),
 (0.003640938685616947, 'Current residence in_Mississippi'),
 (0.0034492658591759946, 'Current residence in_Vermont'),
 (0.003322332744158665, 'Current residence in_Montana'),
 (0.0031426507568482888, 'Current residence in_Virginia'),
 (0.0030362191424513052, 'Current residence in_Tennessee')]