In [1]:
from sklearn import tree
import pandas as pd
import os

In [2]:
df = pd.read_csv('combined_data_rounded.csv')
df.head()

,Current residence in,Population 1 year and over,Same house 1 year ago,Same state of residence 1 year ago,Total_Incoming,Total_Outgoing,Net Migration,Avg. Home Price,Percent of Job Growth,Alabama,...,Virginia,Washington,West Virginia,Wisconsin,Wyoming,Total,Puerto Rico,U.S. Island Area,Foreign Country4,Foreign Country
0,Alabama,4819343,4158224,535649,111803,101466,10337,129174,1,0,...,4277,1289,1070,1121,104,13667,476,0,13191,0
1,Alaska,730874,595804,98168,30199,42972,-12773,291459,-1,942,...,360,3653,0,2500,6,6703,0,965,5738,0
2,Arizona,6935358,5717189,911120,261727,163214,98513,228363,3,1337,...,3593,14392,318,3897,997,45322,438,91,44793,0
3,Arkansas,2968395,2509717,370309,79411,69850,9561,120987,1,574,...,1087,1539,0,958,12,8958,573,0,8385,0
4,California,39085984,34009331,4234770,523131,661026,-137895,508307,2,3715,...,21162,33143,789,9348,1395,318752,1864,842,316046,0

In [3]:
df.set_index('Current residence in', inplace=True)
df.head()

,Population 1 year and over,Same house 1 year ago,Same state of residence 1 year ago,Total_Incoming,Total_Outgoing,Net Migration,Avg. Home Price,Percent of Job Growth,Alabama,Alaska,...,Virginia,Washington,West Virginia,Wisconsin,Wyoming,Total,Puerto Rico,U.S. Island Area,Foreign Country4,Foreign Country
Current residence in,,,,,,,,,,,,,,,,,,,,,
Alabama,4819343,4158224,535649,111803,101466,10337,129174,1,0,424,...,4277,1289,1070,1121,104,13667,476,0,13191,0
Alaska,730874,595804,98168,30199,42972,-12773,291459,-1,942,0,...,360,3653,0,2500,6,6703,0,965,5738,0
Arizona,6935358,5717189,911120,261727,163214,98513,228363,3,1337,2255,...,3593,14392,318,3897,997,45322,438,91,44793,0
Arkansas,2968395,2509717,370309,79411,69850,9561,120987,1,574,241,...,1087,1539,0,958,12,8958,573,0,8385,0
California,39085984,34009331,4234770,523131,661026,-137895,508307,2,3715,2606,...,21162,33143,789,9348,1395,318752,1864,842,316046,0

In [4]:
target = df["Percent of Job Growth"]
#target_names = ["negative", "positive"]

In [5]:
data = df.drop(["Percent of Job Growth", "Alabama", "Alaska","Arizona","Arkansas","California","Colorado","Connecticut","Delaware","District of Columbia ",
               "Florida","Georgia","Hawaii","Idaho","Illinois","Indiana","Iowa","Kansas","Kentucky","Louisiana","Maine","Maryland","Massachusetts",
               "Michigan","Minnesota","Mississippi","Missouri","Montana","Nebraska","Nevada","New Hampshire","New Jersey","New Mexico",
               "New York","North Carolina","North Dakota","Ohio","Oklahoma","Oregon","Pennsylvania","Rhode Island", "South Carolina",
               "South Dakota","Tennessee","Texas","Utah","Vermont","Virginia","Washington","West Virginia","Wisconsin","Wyoming",
               "Total","Puerto Rico","U.S. Island Area","Foreign Country4","Foreign Country", "Same house 1 year ago","Same state of residence 1 year ago"
               ,"Population 1 year and over"], axis=1)
feature_names = data.columns
data.head()

,Total_Incoming,Total_Outgoing,Net Migration,Avg. Home Price
Current residence in,,,,
Alabama,111803,101466,10337,129174
Alaska,30199,42972,-12773,291459
Arizona,261727,163214,98513,228363
Arkansas,79411,69850,9561,120987
California,523131,661026,-137895,508307

In [6]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(data,target, random_state=32)

In [7]:
clf = tree.DecisionTreeClassifier()

In [8]:
data.dtypes

Total_Incoming     int64
Total_Outgoing     int64
Net Migration      int64
Avg. Home Price    int64
dtype: object

In [9]:
clf = clf.fit(X_train, y_train)
clf.score(X_test, y_test)

0.6666666666666666

In [10]:
from sklearn.ensemble import RandomForestClassifier
rf = RandomForestClassifier(n_estimators=200)
rf = rf.fit(X_train, y_train)
rf.score(X_test, y_test)

0.717948717948718

In [11]:
sorted(zip(rf.feature_importances_, feature_names), reverse=True)

[(0.407308265126297, 'Net Migration'),
 (0.2370055449499964, 'Total_Incoming'),
 (0.20685242306596038, 'Total_Outgoing'),
 (0.1488337668577462, 'Avg. Home Price')]