In [1]:
from sklearn import tree
import pandas as pd
import os

In [2]:
df_alldata = pd.read_excel('../2010-2019combineddata.xls')

df_alldata.head()

,Year,Before Tax Change,Current residence in,Total Population,Same house 1 year ago,Same state of residence 1 year ago,Total_Incoming,Total_Outgoing,Net Migration,Net Migrationpn,...,Utah,Vermont,Virginia,Washington,West Virginia,Wisconsin,Wyoming,Puerto Rico,US Island Area,Foreign Country
0,2010,yes,Alabama,4729509,3987155,620465,108723,99850,8873,positive,...,1336,0,2490,1171,41,1155,27,228,181,12757
1,2010,yes,Alaska,702974,565031,95878,36326,94848,-58522,negative,...,1274,353,714,2421,0,158,81,19,1374,4346
2,2010,yes,Arizona,6332786,5069002,1001991,222725,177056,45669,positive,...,7164,664,3413,12645,595,5556,593,599,223,38246
3,2010,yes,Arkansas,2888304,2387806,412997,79127,64264,14863,positive,...,361,0,494,264,0,821,443,87,0,8287
4,2010,yes,California,36907897,30790221,5413287,444749,575165,-130416,negative,...,10653,525,14232,30544,1446,6031,1336,1223,5123,253294

In [3]:
dummy = ["Year", "Before Tax Change", "Current residence in"]

combined_data = pd.get_dummies(df_alldata, columns= dummy)
combined_data.head()

,Total Population,Same house 1 year ago,Same state of residence 1 year ago,Total_Incoming,Total_Outgoing,Net Migration,Net Migrationpn,Avg Home Price,Median Income,Unemployment Rate,...,Current residence in_South Dakota,Current residence in_Tennessee,Current residence in_Texas,Current residence in_Utah,Current residence in_Vermont,Current residence in_Virginia,Current residence in_Washington,Current residence in_West Virginia,Current residence in_Wisconsin,Current residence in_Wyoming
0,4729509,3987155,620465,108723,99850,8873,positive,123268.6667,40933,10.5,...,0,0,0,0,0,0,0,0,0,0
1,702974,565031,95878,36326,94848,-58522,negative,259908.9167,57848,7.9,...,0,0,0,0,0,0,0,0,0,0
2,6332786,5069002,1001991,222725,177056,45669,positive,157288.3333,46896,10.4,...,0,0,0,0,0,0,0,0,0,0
3,2888304,2387806,412997,79127,64264,14863,positive,107754.4167,38587,8.2,...,0,0,0,0,0,0,0,0,0,0
4,36907897,30790221,5413287,444749,575165,-130416,negative,331464.0000,54283,12.2,...,0,0,0,0,0,0,0,0,0,0

In [4]:
target = combined_data["Net Migrationpn"]

In [5]:
data = combined_data.drop(["Net Migrationpn","Net Migration", "Unemployment Rate", "Alabama", "Alaska","Arizona","Arkansas","California","Colorado","Connecticut","Delaware","DistrictColumbia ",
               "Florida","Georgia","Hawaii","Idaho","Illinois","Indiana","Iowa","Kansas","Kentucky","Louisiana","Maine","Maryland","Massachusetts",
               "Michigan","Minnesota","Mississippi","Missouri","Montana","Nebraska","Nevada","New Hampshire","New Jersey","New Mexico",
               "New York","North Carolina","North Dakota","Ohio","Oklahoma","Oregon","Pennsylvania","Rhode Island", "South Carolina",
               "South Dakota","Tennessee","Texas","Utah","Vermont","Virginia","Washington","West Virginia","Wisconsin","Wyoming","Puerto Rico","US Island Area", "Same house 1 year ago","Same state of residence 1 year ago"
               , "Total_Incoming", "Total_Outgoing", "Foreign Country"], axis=1)
feature_names = data.columns
data.head()

,Total Population,Avg Home Price,Median Income,Year_2010,Year_2011,Year_2012,Year_2013,Year_2014,Year_2015,Year_2016,...,Current residence in_South Dakota,Current residence in_Tennessee,Current residence in_Texas,Current residence in_Utah,Current residence in_Vermont,Current residence in_Virginia,Current residence in_Washington,Current residence in_West Virginia,Current residence in_Wisconsin,Current residence in_Wyoming
0,4729509,123268.6667,40933,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,702974,259908.9167,57848,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,6332786,157288.3333,46896,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,2888304,107754.4167,38587,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,36907897,331464.0000,54283,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [6]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(data,target, random_state=42)

In [7]:
clf = tree.DecisionTreeClassifier()

In [8]:
data.dtypes

Total Population                        int64
Avg Home Price                        float64
Median Income                           int64
Year_2010                               uint8
Year_2011                               uint8
                                       ...
Current residence in_Virginia           uint8
Current residence in_Washington         uint8
Current residence in_West Virginia      uint8
Current residence in_Wisconsin          uint8
Current residence in_Wyoming            uint8
Length: 66, dtype: object

In [9]:
clf = clf.fit(X_train, y_train)
clf.score(X_test, y_test)

0.71875

In [10]:
from sklearn.ensemble import RandomForestClassifier
rf = RandomForestClassifier(n_estimators=200)
rf = rf.fit(X_train, y_train)
rf.score(X_test, y_test)

0.7578125

In [11]:
sorted(zip(rf.feature_importances_, feature_names), reverse=True)

[(0.15231440176147315, 'Avg Home Price'),
 (0.13558176400717353, 'Median Income'),
 (0.13423891446851438, 'Total Population'),
 (0.09224807911541495, 'Year_2014'),
 (0.018421189551037345, 'Current residence in_Louisiana'),
 (0.018190626428248213, 'Current residence in_Illinois'),
 (0.01497757776171874, 'Current residence in_Colorado'),
 (0.014897631095691633, 'Current residence in_Oregon'),
 (0.014429343569195167, 'Current residence in_Connecticut'),
 (0.014354560372200955, 'Current residence in_New Mexico'),
 (0.013529568238365559, 'Current residence in_Minnesota'),
 (0.013307298037359326, 'Current residence in_Michigan'),
 (0.011350983114378172, 'Year_2010'),
 (0.010893853808048666, 'Current residence in_Utah'),
 (0.010870595910416558, 'Year_2013'),
 (0.010703200716851869, 'Current residence in_Washington'),
 (0.010262448546705452, 'Year_2017'),
 (0.009822195271740896, 'Year_2019'),
 (0.009771555986310652, 'Year_2015'),
 (0.00951846799323247, 'Year_2016'),
 (0.009441357334563378, 'Year_2012'),
 (0.009429027303348164, 'Current residence in_New York'),
 (0.008976724508664114, 'Current residence in_Ohio'),
 (0.00877974760640322, 'Current residence in_Wyoming'),
 (0.008533100197935361, 'Current residence in_Georgia'),
 (0.00841012317614523, 'Current residence in_South Carolina'),
 (0.008211671028962687, 'Before Tax Change_no'),
 (0.00809109769738228, 'Current residence in_Kansas'),
 (0.007928925861290797, 'Current residence in_West Virginia'),
 (0.0077235598594207755, 'Before Tax Change_yes'),
 (0.007535069250042548, 'Current residence in_Wisconsin'),
 (0.00743643504146009, 'Year_2011'),
 (0.00725286919375036, 'Current residence in_Pennsylvania'),
 (0.007199608463810244, 'Current residence in_New Jersey'),
 (0.007101521755390826, 'Current residence in_Alabama'),
 (0.007089450113860018, 'Current residence in_Oklahoma'),
 (0.007041545233727348, 'Current residence in_Texas'),
 (0.006858064141007026, 'Current residence in_Massachusetts'),
 (0.006809332941742777, 'Current residence in_Delaware'),
 (0.006699951652956365, 'Current residence in_Hawaii'),
 (0.006417892674731203, 'Current residence in_Alaska'),
 (0.0062072434335873625, 'Current residence in_Nevada'),
 (0.006177117930163328, 'Current residence in_Florida'),
 (0.005994953552350099, 'Current residence in_Rhode Island'),
 (0.005949219797729179, 'Current residence in_South Dakota'),
 (0.00584597281144302, 'Current residence in_Indiana'),
 (0.00566639588777765, 'Current residence in_Maryland'),
 (0.005642087596727527, 'Year_2018'),
 (0.005637942669584933, 'Current residence in_Arizona'),
 (0.005386823925321426, 'Current residence in_North Carolina'),
 (0.004933758977196655, 'Current residence in_Kentucky'),
 (0.004840232568382726, 'Current residence in_Nebraska'),
 (0.004664265402897846, 'Current residence in_Arkansas'),
 (0.004556203965494442, 'Current residence in_Missouri'),
 (0.004535374453260374, 'Current residence in_New Hampshire'),
 (0.004360993862773204, 'Current residence in_District of Columbia '),
 (0.004326380357250596, 'Current residence in_North Dakota'),
 (0.004227688937388332, 'Current residence in_Maine'),
 (0.004174595458795222, 'Current residence in_Iowa'),
 (0.004116866341057129, 'Current residence in_Idaho'),
 (0.0036394951638453795, 'Current residence in_Tennessee'),
 (0.0036104508491015463, 'Current residence in_California'),
 (0.00357540931595663, 'Current residence in_Vermont'),
 (0.003197835377002211, 'Current residence in_Mississippi'),
 (0.003193541186870864, 'Current residence in_Montana'),
 (0.002887819387369796, 'Current residence in_Virginia')]