In [34]:
from sklearn import tree
import pandas as pd
import os

In [35]:
df_alldata = pd.read_excel('2010-2019combineddata.xls')

df_alldata.head()

,Year,Before Tax Change,Current residence in,Total Population,Same house 1 year ago,Same state of residence 1 year ago,Total_Incoming,Total_Outgoing,Net Migration,Net Migation(p/n),...,Utah,Vermont,Virginia,Washington,West Virginia,Wisconsin,Wyoming,Puerto Rico,U.S. Island Area,Foreign Country
0,2010,no,Alabama,4729509,3987155,620465,108723,99850,8873,positive,...,1336,0,2490,1171,41,1155,27,228,181,12757
1,2010,no,Alaska,702974,565031,95878,36326,94848,-58522,negative,...,1274,353,714,2421,0,158,81,19,1374,4346
2,2010,no,Arizona,6332786,5069002,1001991,222725,177056,45669,positive,...,7164,664,3413,12645,595,5556,593,599,223,38246
3,2010,no,Arkansas,2888304,2387806,412997,79127,64264,14863,positive,...,361,0,494,264,0,821,443,87,0,8287
4,2010,no,California,36907897,30790221,5413287,444749,575165,-130416,negative,...,10653,525,14232,30544,1446,6031,1336,1223,5123,253294

In [36]:
dummy = ["Year", "Before Tax Change", "Current residence in"]

combined_data = pd.get_dummies(df_alldata, columns= dummy)
combined_data.head()

,Total Population,Same house 1 year ago,Same state of residence 1 year ago,Total_Incoming,Total_Outgoing,Net Migration,Net Migation(p/n),Avg. Home Price,Median Income,Unemployment Rate,...,Current residence in_South Dakota,Current residence in_Tennessee,Current residence in_Texas,Current residence in_Utah,Current residence in_Vermont,Current residence in_Virginia,Current residence in_Washington,Current residence in_West Virginia,Current residence in_Wisconsin,Current residence in_Wyoming
0,4729509,3987155,620465,108723,99850,8873,positive,123268.6667,40933,10.5,...,0,0,0,0,0,0,0,0,0,0
1,702974,565031,95878,36326,94848,-58522,negative,259908.9167,57848,7.9,...,0,0,0,0,0,0,0,0,0,0
2,6332786,5069002,1001991,222725,177056,45669,positive,157288.3333,46896,10.4,...,0,0,0,0,0,0,0,0,0,0
3,2888304,2387806,412997,79127,64264,14863,positive,107754.4167,38587,8.2,...,0,0,0,0,0,0,0,0,0,0
4,36907897,30790221,5413287,444749,575165,-130416,negative,331464.0000,54283,12.2,...,0,0,0,0,0,0,0,0,0,0

In [39]:
target = combined_data["Net Migation(p/n)"]

In [40]:
data = combined_data.drop(["Net Migation(p/n)", "Unemployment Rate", "Alabama", "Alaska","Arizona","Arkansas","California","Colorado","Connecticut","Delaware","District of Columbia ",
               "Florida","Georgia","Hawaii","Idaho","Illinois","Indiana","Iowa","Kansas","Kentucky","Louisiana","Maine","Maryland","Massachusetts",
               "Michigan","Minnesota","Mississippi","Missouri","Montana","Nebraska","Nevada","New Hampshire","New Jersey","New Mexico",
               "New York","North Carolina","North Dakota","Ohio","Oklahoma","Oregon","Pennsylvania","Rhode Island", "South Carolina",
               "South Dakota","Tennessee","Texas","Utah","Vermont","Virginia","Washington","West Virginia","Wisconsin","Wyoming","Puerto Rico","U.S. Island Area", "Same house 1 year ago","Same state of residence 1 year ago"
               , "Total_Incoming", "Total_Outgoing", "Foreign Country", 'Net Migation(p/n)'], axis=1)
feature_names = data.columns
data.head()

,Total Population,Net Migration,Avg. Home Price,Median Income,Year_2010,Year_2011,Year_2012,Year_2013,Year_2014,Year_2015,...,Current residence in_South Dakota,Current residence in_Tennessee,Current residence in_Texas,Current residence in_Utah,Current residence in_Vermont,Current residence in_Virginia,Current residence in_Washington,Current residence in_West Virginia,Current residence in_Wisconsin,Current residence in_Wyoming
0,4729509,8873,123268.6667,40933,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,702974,-58522,259908.9167,57848,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,6332786,45669,157288.3333,46896,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,2888304,14863,107754.4167,38587,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,36907897,-130416,331464.0000,54283,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [41]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(data,target, random_state=42)

In [42]:
clf = tree.DecisionTreeClassifier()

In [43]:
data.dtypes

Total Population                        int64
Net Migration                           int64
Avg. Home Price                       float64
Median Income                           int64
Year_2010                               uint8
                                       ...
Current residence in_Virginia           uint8
Current residence in_Washington         uint8
Current residence in_West Virginia      uint8
Current residence in_Wisconsin          uint8
Current residence in_Wyoming            uint8
Length: 66, dtype: object

In [44]:
clf = clf.fit(X_train, y_train)
clf.score(X_test, y_test)

1.0

In [45]:
from sklearn.ensemble import RandomForestClassifier
rf = RandomForestClassifier(n_estimators=200)
rf = rf.fit(X_train, y_train)
rf.score(X_test, y_test)

0.9921875

In [46]:
sorted(zip(rf.feature_importances_, feature_names), reverse=True)

[(0.5641751438880954, 'Net Migration'),
 (0.08243268465054991, 'Year_2014'),
 (0.0724921845669514, 'Year_2019'),
 (0.04843309212275666, 'Median Income'),
 (0.048310049108322525, 'Avg. Home Price'),
 (0.039718253430407253, 'Total Population'),
 (0.006527828064684687, 'Current residence in_Illinois'),
 (0.005639511556309278, 'Current residence in_Louisiana'),
 (0.005057665346071644, 'Current residence in_Colorado'),
 (0.004858438095841895, 'Current residence in_Oregon'),
 (0.004485270237811412, 'Current residence in_Connecticut'),
 (0.004362093609779695, 'Current residence in_Utah'),
 (0.0042248872272058185, 'Current residence in_Washington'),
 (0.0041519600276193665, 'Current residence in_Georgia'),
 (0.004042500244972607, 'Year_2017'),
 (0.0039346924969991025, 'Current residence in_New Mexico'),
 (0.0036703697735189535, 'Year_2012'),
 (0.0034588323197991687, 'Current residence in_Ohio'),
 (0.003402603918636787, 'Year_2010'),
 (0.0033791479041815945, 'Current residence in_Minnesota'),
 (0.0033006928640849312, 'Current residence in_New Jersey'),
 (0.003072800252753665, 'Current residence in_New York'),
 (0.00306008359183999, 'Current residence in_District of Columbia '),
 (0.0030344266958605612, 'Year_2013'),
 (0.0029787418370296735, 'Current residence in_Texas'),
 (0.0027602729757931327, 'Current residence in_Florida'),
 (0.0027281036496926217, 'Year_2018'),
 (0.002689358644754623, 'Year_2015'),
 (0.0026732467899603326, 'Current residence in_South Carolina'),
 (0.002662923483206044, 'Year_2016'),
 (0.0026520249208398655, 'Current residence in_Wyoming'),
 (0.0024958343147330185, 'Current residence in_Arizona'),
 (0.0023235943213107887, 'Current residence in_Oklahoma'),
 (0.0022618148466995265, 'Current residence in_Michigan'),
 (0.002254422713869107, 'Current residence in_Hawaii'),
 (0.0022442523126795324, 'Year_2011'),
 (0.002173669933574937, 'Current residence in_Delaware'),
 (0.0021221448216887234, 'Current residence in_West Virginia'),
 (0.002023087467582219, 'Current residence in_Mississippi'),
 (0.0019621031024533147, 'Current residence in_Nevada'),
 (0.0017131085931753095, 'Current residence in_North Carolina'),
 (0.00168714816706289, 'Current residence in_Nebraska'),
 (0.0016836720112063945, 'Current residence in_Wisconsin'),
 (0.001679025970496272, 'Current residence in_Alabama'),
 (0.0015960582075015093, 'Current residence in_Maryland'),
 (0.0015504603810811784, 'Current residence in_California'),
 (0.0015368609355000877, 'Current residence in_Alaska'),
 (0.0015314231982550897, 'Current residence in_Rhode Island'),
 (0.001380203940866136, 'Current residence in_North Dakota'),
 (0.001353327705622841, 'Current residence in_Kansas'),
 (0.001312786601711803, 'Current residence in_Montana'),
 (0.0013101428669446318, 'Current residence in_Pennsylvania'),
 (0.0012931127907986984, 'Current residence in_Massachusetts'),
 (0.0012294979289466943, 'Current residence in_South Dakota'),
 (0.0011959678163897688, 'Current residence in_Idaho'),
 (0.001189858493623385, 'Current residence in_Virginia'),
 (0.0010511881302907762, 'Current residence in_New Hampshire'),
 (0.0010407469487633784, 'Current residence in_Kentucky'),
 (0.0010162730421073277, 'Current residence in_Indiana'),
 (0.001012603713506547, 'Current residence in_Iowa'),
 (0.0009799026773483252, 'Current residence in_Maine'),
 (0.0009517316760050663, 'Current residence in_Tennessee'),
 (0.0008906067210614327, 'Current residence in_Vermont'),
 (0.0008449352121948469, 'Current residence in_Arkansas'),
 (0.0007385481386179327, 'Current residence in_Missouri'),
 (0.0, 'Before Tax Change_no')]